
.status-header {
    font-weight: normal;
    text-align: center;
}

.pizzas {
    padding: 0;
    justify-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

.pizza {
    min-width: 30%;
    display: flex;
    flex-flow: column wrap;
}

.pizza > *{
    flex-shrink: 0;
    margin: 0 3%;
}

h1, h2, h3, h4, h5 {
    white-space: nowrap;
}

.toppings {
    min-width: 10%;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
}
.topping {
    margin: 3%;
}