

<div class="column2">
  <img (click)="landing()" class="headerpic" src="https://revolver-joe.s3.us-east-2.amazonaws.com/Joes.png">
  <div class="headerimgs">
    <div (click)="orderNow()" class="middle">
    <img class="image" src="https://revolver-joe.s3.us-east-2.amazonaws.com/Pizza chessemexican-and-pepperoni.jpg">
      <button type="button" class="btn btn-secondary">
        Order Now
      </button>
    </div>
  </div>
  <div class="headerimgs">
    <div (click)="signup()"class="middle">
      <img class="image" src="https://revolver-joe.s3.us-east-2.amazonaws.com/sign in 166004.jpg">
      <button type="button" class="btn btn-secondary">
        Sign up
      </button>
    </div>
  </div>
  <div class="headerimgs endingheaders">
    <div (click)="logout()" class="middle">
    <img class="image" src="https://revolver-joe.s3.us-east-2.amazonaws.com/lastword.png">
        <button *ngIf="user" type="button" class="btn btn-secondary">
          Logout
        </button>
        <button *ngIf="!user" (click)="logout()" type="button" class="btn btn-secondary">
          Login
        </button>
    </div>
  </div>
</div>
