

<div class="column2">
  <img (click)="landing()" class="headerpic" src="../../../assets/images/JoesRevolverPizza.png">
  <div class="headerimgs">
    <img (click)="orderNow()" class="image" src="../../../assets/images/Pizza chessemexican-and-pepperoni.jpg">
    <div class="middle">
      <button (click)="orderNow()" type="button" class="btn btn-secondary">
        Order Now
      </button>
    </div>
  </div>
  <div class="headerimgs">
    <img (click)="signup()" class="image" src="../../../assets/images/sign in 166004.jpg">
    <div class="middle">
      <button (click)="signup()" type="button" class="btn btn-secondary">
        Sign up
      </button>
    </div>
  </div>
  <div class="headerimgs">
    <img class="image" src="../../../assets/images/Pizza menu and-pepperoni.jpg">
    <div class="middle">
      <button (click)="orderNow()" type="button" class="btn btn-secondary">
        Menu
      </button>
    </div>
  </div>
  <div class="headerimgs endingheaders">
    <img class="image" src="../../../assets/images/lastword.png">
    <div class="middle">
        <button *ngIf="user" (click)="logout()" type="button" class="btn btn-secondary">
          logout!!!
        </button>
        <button *ngIf="!user" (click)="logout()" type="button" class="btn btn-secondary">
          login!!!
        </button>
    </div>
    
  </div>

</div>
