<div class="component">
    <header>
        <nav><ul><li>current orders</li><li>order history</li></ul></nav>
    </header>
    <article class="view">
        <article class="tickets" *ngIf="pending.length > 0 else loading">
            <h3 class="status-header">pending</h3>
            <article *ngFor="let ticket of pending" class="ticket">
                <app-pending-view [ticket]="ticket"></app-pending-view>
            </article>
        </article>
        <article class="tickets" *ngIf="preparing.length > 0 else loading">
            <h3 class="status-header">preparing</h3>
            <article *ngFor="let ticket of preparing" class="ticket">
                <app-preparing-view [ticket]="ticket"></app-preparing-view>
            </article>
        </article>
        <article class="tickets" *ngIf="preparing.length > 0 else loading">
            <h3 class="status-header">baking</h3>
            <article *ngFor="let ticket of baking" class="ticket">
                <app-baking-view [ticket]="ticket"></app-baking-view>
            </article>
        </article>
        <article class="tickets" *ngIf="preparing.length > 0 else loading">
            <h3 class="status-header">done</h3>
            <article *ngFor="let ticket of done" class="ticket">
                <app-done-view [ticket]="ticket"></app-done-view>
            </article>
        </article>
    </article>
</div>
<ng-template #loading>
    <div class="loading">Loading...</div>
</ng-template>