<!DOCTYPE html>
<html>
  <head>
    <Title>
      Registered User Page
    </Title>
  </head>
  <Body>
      
    <div class="head">
      <h1 style="text-align:center">Welcome User</h1>
    </div>
    
    <hr>
    <div>
      <nav class="secondnav">
        <a routerLink="/order" style="color:black">Online Order</a>
      </nav>
    </div>
    <hr>
    
    <div>
      <table style="width:100%" style="border:'1px solid black'">
        <tr>
          <th><h5>Ticket Number</h5></th>
          <th><h5>Status</h5></th>
          <th><h5>Pizza</h5></th>

        </tr>
        <tr *ngFor="let ticket of ticketlist">
          <td>{{ticket.id}}</td>
          <td>{{ticket.status}}</td>
          <td> 
            <table>
              <tr>
                <th><h6>Pizza Id</h6></th>
                <th><h6>Pizza Toppings</h6></th>
              </tr>
              <tr *ngFor="let pizza of ticket.pizzas">
                <td>{{pizza.id}}</td>
                <td>
                  <table>
                    <tr *ngFor="let topping of pizza.toppings">
                      <td>{{topping.name}}</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    
  </Body>
</html>
