
.landing{
  height: 100vh;
  background: url(../../../assets/images/DB.jpg);
  background-size: cover;

}

.column_1 {
    position: absolute;
      margin-top: 15px;
      width: 30%;
      left: 0vh;
      top: 35.5vh;
      font-size: 30px;
      color: whitesmoke;
      border-color: orange;
      border-style: solid;
    }

    .column_2 {
      position: absolute;
      top: 60vh;
      width: 30%;
      font-size: 30px;
      color: whitesmoke;
      border-color: orange;
      border-style: solid;
    }



    h1.heading {
      background-color: orange;
      color: blue;
      border-style: solid;
    }

    .image {
      opacity: 1;
      display: block;
      width: 160px;
      height: 120px;
      transition: .5s ease;
      backface-visibility: hidden;
    }

    .middle {
      transition: .5s ease;
      opacity: 0;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }

    .container:hover .image {
      opacity: 0.3;
      border-style: solid;
      animation: outline 1000ms ease-in-out infinite;
      animation: flicker-background 1000ms ease-in infinite;
    }

    @keyframes outline {
      100% {
        border-color: gold;
      }

      0% {
        border-color: blue;
      }


    }

    @keyframes flicker-background {
      50% {
        transform: scale(0.98);
      }
    }

    .container:hover .middle {
      opacity: 1;
    }

    .text {
      position: absolute;
      bottom: 0%;
      left: 98%;
      font-size: 24px;
      color: whitesmoke;
      font-size: 16px;
    }

