<div class="landing">

   <div class="info">
      Address: <br>
      Brooklyn, NY 11234 <br>
      Phone : (XXX)-XXX-XXXX<br>
      Location: View map<br>
      LUNCH: <br>
      Mon - Fri, 11:00 - 3:00 pm <br>
      DINNER<br>
      Mon - Fri, 06:00 - 11:00 pm
    </div>

  <div class="showdown-board">
    <div>
      <h1> The showdown board</h1>
      <br>
      <p>
        A precursor of pizza was probably the focaccia, a flat bread known to the Romans as panis focacius, to which
        toppings were then added. Modern pizza evolved from similar flatbread dishes in Naples, Italy, in the 18th or
        early 19th century.
        <br>
        The word pizza was first documented in A.D. 997 in Gaeta[3] and successively in different parts of Central and
        Southern Italy. Pizza was mainly eaten in Italy and by emigrants from there. This changed after World War II
        when Allied troops stationed in Italy came to enjoy pizza along with other Italian foods.
      </p>
    </div>
  </div>

  <div class="wantedpic">
    <img class="pic" src="https://revolver-joe.s3.us-east-2.amazonaws.com/pizza wanted.png">
  </div>
</div>
