<div class="landing">
  <div style='position: relative;'>
    <div class="heading" id="head" style="border-bottom-width: 3px;" sytle="">
      <h1 class="heading" style="margin-top: 1px; margin-bottom: 1px; border-top-width: 3px; border-left-width: 2px;">
        Joe's Revolver</h1>
    </div>

    <div class="ok"
      style=' margin-top: 1%;  position: absolute; top:20vh; left: 60vh;  width: 47%; background-image: url(../../../assets/images/grungy-rough-old-worn-parchment-paper.jpg); margin-top: 45px;'>
      <h1 style="text-align: center;">- Title -</h1>
      <p id="middletext">
        aaaaaaaaaaaaaaaaaa
        Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaa
        Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        Aa  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaa
        Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaa
        Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaa
        Aaaaaaaaaaa
      </p>
    </div>

    <div class="wanted">
      <img style="position: absolute; top: 44.5vh; left: 151vh; width: 40vh; height: 53vh;"
        src="../../../assets/images/pizza wanted.png">
    </div>

    <div class="container" id="img2" style="position:absolute;  left: .6%; width: 12%; height: 10%;">
      <img class="image" style="margin-top: 1%;" src="../../../assets/images/Pizza chessemexican-and-pepperoni.jpg">
      <div class="middle">

        <button (click)="orderNow()" type="button"  style = "position: absolute; top: 50%; left: 55%;"  class="btn btn-secondary">Order Now!</button>

      </div>
    </div>

    <div class="container" id="img3" style="position:absolute; left: 11.2%; width: 12%; height: 10%;">
      <img class="image" style="margin-top: 1%;" id="img3" src="../../../assets/images/sign in 166004.jpg">
      <div class="middle">
        <div class="text" id="menu">
          <button (click)="signup()" type="button" style = "position: absolute; top: 50%; left: 68%;"  class="btn btn-secondary">Sign up</button>
        </div>
      </div>
    </div>

    <div class="container" id="img4" style="position:absolute;  left: 22%; width: 12%; height: 10%;">
      <img class="image" style="margin-top: 1%; " id="img4" src="../../../assets/images/Pizza menu and-pepperoni.jpg">
      <div class="middle">
        <button (click)="signup()" type="button" style = "position: absolute; top: 50%; left: 68%;"  class="btn btn-secondary"> menu</button>
      </div>
    </div>

    <div class="column_1">
      Address: <br>
      Brooklyn, NY 11234 <br>
      Phone : (XXX) XXX-XXXX<br>
      Directions : <a
        href="https://maps.google.com/maps?ie=UTF8&amp;cid=7228118768074950485&amp;q=Frank%27s+Pizza&amp;iwloc=A&amp;gl=US&amp;hl=en"
        target="_blank">View map</a>
    </div>

    <div class="column_2">
      <h5>LUNCH</h5>
      <p>Mon - Fri, 11:00 - 3:00 pm</p>
      <h5>DINNER</h5>
      <p>Mon - Fri, 06:00 - 11:00 pm</p>
    </div>





  </div>
</div>
