<div  class = "landing" >
  <div style = 'position: relative;'>
    <div class="heading" id="head" style="border-bottom-width: 3px;" sytle="">
      <h1 class="heading" style="margin-top: 1px; margin-bottom: 1px; border-top-width: 3px; border-left-width: 2px;">
        Joe's Revolver</h1>
    </div>

    <div class="ok" style='left: 32%; top: 20%; width: 47%; background-image: url(../../../assets/images/grungy-rough-old-worn-parchment-paper.jpg); margin-top: 45px; position: absolute;'>
      <h1 style="text-align: center;">- Title -</h1>
      <p id="middletext">
        aaaaaaaaaaaaaaaaaa
        Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaa
        Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaa
        Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaa
        Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaa
        Aaaaaaaaaaa
      </p>
    </div>

    <div class="wanted">
      <img style="position: absolute; top: 54.5%; left: 79.96%; width: 20%; height: 45%;" src="../../../assets/images/pizza wanted.png">
    </div>
    <div class="container" id="img1" style="top: 7%; left: .3%; width: 160px; height: 120px;">
      <img class="image" src="../../../assets/images/Pizza chessemexican-and-pepperoni.jpg">
      <div class="middle">
        <div class="text" id="menu" href="https://restfulapi.net/rest-architectural-constraints/">Order Now!</div>
      </div>
    </div>

    <div class="container" id="img2" style="position:absolute; top: 6.1%; left: 8.6%; width: 160px; height: 129px;">
      <img class="image" src="../../../assets/images/lastword.png">
      <div class="middle">
        <div class="text" id="menu" href="https://restfulapi.net/rest-architectural-constraints/">Location</div>
      </div>
    </div>

    <div class="container" style="position:absolute; top: 6.1%; left: 16.9%; width: 160px; height: 129px;">
      <img class="image" id="img3" src="../../../assets/images/sign in 166004.jpg">
      <div class="middle">
        <div class="text" id="menu" href="https://restfulapi.net/rest-architectural-constraints/">Sign in / Sign up /Log
          out</div>
      </div>
    </div>

    <div class="container" style="position:absolute; top: 6.1%; left: 25.1%; width: 160px; height: 129px;">
      <img class="image" id="img4" src="../../../assets/images/Pizza menu and-pepperoni.jpg">
      <div class="middle">
        <div class="text" id="menu" href="https://restfulapi.net/rest-architectural-constraints/">menu </div>
      </div>
    </div>

    <div class="column_1">
      Address: <br>
      Brooklyn, NY 11234 <br>
      Phone : (XXX) XXX-XXXX<br>
      Directions : <a
        href="https://maps.google.com/maps?ie=UTF8&amp;cid=7228118768074950485&amp;q=Frank%27s+Pizza&amp;iwloc=A&amp;gl=US&amp;hl=en"
        target="_blank">View map</a>
    </div>

    <div class="column_2">
      <h5>LUNCH</h5>
      <p>Monday - Friday, 11:00 - 3:00 pm</p>
      <h5>DINNER</h5>
      <p>Monday - Friday, 06:00 - 11:00 pm</p>
    </div>




  </div>
</div>
