
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Topping List</h1><span>Note: Plain pizza cost $8.00</span>
            <br><br>
            <form [formGroup]="toppingForm" (submit)="submit()">
                <div
                    formArrayName="toppings"
                    *ngFor="let topping of toppingForm.controls.toppings['controls']; let i=index">
                    <input type="checkbox" [formControlName]="i"/> {{toppingList[i].name}} - {{toppingList[i].price | currency}}
                </div>
                <br>
                <button type="submit">Add Pizza</button>
            </form>
        </div>
        <div class="col-6">
            <h2>View Order Here</h2>
            <ul>
                <li *ngFor="let pizza of pizzaList">
                    <span>{{pizza.name}}--{{pizza.price | currency}}    </span>
                    <a (click)="removePizza(pizza)">Delete</a>
                </li>
            </ul>
            <p>Total: {{totalPrice}}</p>
            <button (click)=submitOrder()>Submit Order</button>
        </div>
    </div>
</div>


